# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / editor junk
.vscode/
.idea/
*.swp
*.swo
[dD][sS]_[sS]tore

# Local config
.env
*.local
